@{
    ViewData["Title"] = "Uçak Arama";
}
<hr />
<form method = "post"  asp-controller="Flight" asp-action="Index">
    <div class="container">
        <div class="search-box">
            <div class="box-item">
                <label for="nereden">Nereden</label>
                <input type="text" id="nereden" placeholder="İstanbul" name="KalkisAdi" autocomplete="on">
            </div>
            <div class="box-item">
                <label for="nereye">Nereye</label>
                <input type="text" id="nereye" placeholder="Kayseri" name="VarisAdi" autocomplete="on">
            </div>
            <div class="box-item">
                <label for="ucusturu">Uçuş Türü</label>
                <input type="text" id="ucusturu" placeholder="Yurtiçi" name="UcusTuru" autocomplete="on">
            </div>
            <div class="box-item">
                <label for="gidis-tarihi">Gidiş Tarihi</label>
                <input type="date" id="gidis-tarihi" name="Tarih">
            </div>
            <div class="box-item">
                <label for="yolcu-sayisi">Yolcu Sayısı</label>
                <input type="number" id="yolcu-sayisi" name="YetiskinSayi" value="1" min="1">
            </div>
            <div class="box-item">
                <button type="submit" class="search-button">Uçuş Ara</button>
            </div>
        </div>
    </div>
</form>
