html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 48%;
}

.box-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.box-item input,
.box-item button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.search-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.search-button:hover {
  background-color: red;
}
.additional-content {
  margin-top: 10px;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 8px 0;
}
